.profile {
  padding: 15px;
  user-select: none;
  transition: all 0.3s ease;
  width: fit-content;
}

.profile img {
  height: 100px;
  display: block;
  background-color: rgb(236, 236, 236);
  margin: 0 auto;
}

.profile span {
  display: block;
  text-align: center;
  margin: 10px 0;
}

.profile > :nth-child(2) {
  font-weight: 700;
  font-size: 16px;
}

.profile > :nth-child(2):hover {
  text-underline-offset: 5px;

  text-decoration: 2px underline #a64cc5 solid;
}

.profile > :nth-child(3) {
  font-size: 14px;
  color: gray;
  margin-top: 0;
}

@media only screen and (max-width: 900px) {
  .profile {
    margin-top: 20px;
  }
}
